name: Build and Test
on:
    push:
        branches:
            - master
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup pnpm
              uses: pnpm/action-setup@v4
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: 'pnpm'
            - name: Install
              run: pnpm install --frozen-lockfile
            - name: Test
              run: pnpm test
              env:
                  HVAKR_ACCESS_TOKEN: ${{ secrets.HVAKR_ACCESS_TOKEN }}
            - name: Build
              run: pnpm build
