name: Publish Package to npm
on:
    release:
        types: [published]
permissions:
    id-token: write
    contents: read
jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup pnpm
              uses: pnpm/action-setup@v4
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  registry-url: 'https://registry.npmjs.org'
                  cache: 'pnpm'
                  always-auth: true
            - name: Install Dependencies
              run: pnpm install --frozen-lockfile
            - name: Test
              run: pnpm test
              env:
                  HVAKR_ACCESS_TOKEN: ${{ secrets.HVAKR_ACCESS_TOKEN }}
            - name: Build
              run: pnpm build
            - name: Configure pnpm authentication
              run: |
                  if [ -f "$NPM_CONFIG_USERCONFIG" ]; then
                      AUTH_TOKEN=$(awk -F'=' '/_authToken/ {print $2; exit}' "$NPM_CONFIG_USERCONFIG")
                      if [ -n "$AUTH_TOKEN" ]; then
                          pnpm config set //registry.npmjs.org/:_authToken "$AUTH_TOKEN"
                      fi
                  fi
            - name: Publish
              run: pnpm publish --no-git-checks --access public --ignore-scripts
